@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
/* 
1- #222831
2- #30475e
3- #47b016
4- #dedede
*/
@font-face {
  font-family: "Nastaleeq";
  src: url("/assets/fonts/AlQalam\ Taj\ Nastaleeq\ Regular.ttf");
}
/* the above is for styling puposes only */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-family: "Press Start 2P", cursive;
  color: #47b016;
  letter-spacing: 1px;
}
body {
  font-family: "Press Start 2P", cursive;
  color: #47b016;
  background-size: cover;
  background: #222831;
  margin: 0;
  min-height: 100vh;
}
nav {
  margin: 15px 60px 15px 60px;
}
nav .img-logo {
  margin: 0 10px;
  height: 90px;
  width: auto;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.img-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-name {
  font-size: 25px;
}
.content-div {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 50px;
  padding: 20px;
}
.urdu-font {
  font-family: Nastaleeq;
  font-size: 65px;
}
.allah-font {
  font-size: 60px;
}
